html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

$colordeltitulo: rgb(255, 255, 255);
$colordelnav: linear-gradient(rgb(255, 230, 0), black);;
@import 'header';
@import 'responsive';

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
}

button:hover{
    background-color: rgb(255, 255, 255);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento {
     color:rgb(0, 0, 0);
     text-align: center;
     }
  
    @keyframes logo {
        0%{
            transform: scale(.3);
        }
    }

 #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Screenshot_20220829-195641_Instagram.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h1 {
        color: $colordeltitulo
    }
}

#hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/receiving\ 3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero2 h1{
    color: white;
}

#hero3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Check\ In\ 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero3 h1{
    color: white;
}

#hero4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Put\ Away.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero4 h1{
    color: white;
}

#hero5{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Picking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero5 h1{
    color: white;
}

#hero6{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/received_1744269352604071.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero6 h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
#somos-proya .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#nuestros-procesos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-procesos .container{
    padding: 150px 12px;
}

#nuestros-procesos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-procesos p{
    display: none;
    text-align: center;
}

#nuestros-procesos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 50px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/recepcion\ 2.png");

}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/check\ in\ 2.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/put\ away\ 2.jpg");
}

    .carta:nth-child(4) {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/picking\ 2.jpg");
    }

        .carta:nth-child(5) {
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url("../img/packing\ 2.jpg");

}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }  
  .buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ffee00;
    color: #000000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }
  
